FM4Z3B_1004/4.feladat/FM4Z3B_kurzusfelvetel.dtd

<!DOCTYPE FM4Z3B_kurzusfelvetel SYSTEM "FM4Z3B_kurzusfelvetel.dtd">
    
<!ELEMENT kurzusfelvetel (hallgato, kurzusok)>
    <!ELEMENT hallgato (hnev, szulev, szak)>
        <!ELEMENT hnev>
        <!ELEMENT szulev>
        <!ELEMENT szak>
    <!ELEMENT kurzusok (kurzusnev, kredit, hely, idopont, oktato)>
        <!ELEMENT kurzusnev>
        <!ELEMENT kredit>
        <!ELEMENT hely>
        <!ELEMENT idopont>
        <!ELEMENT oktato>
